/* 首页轮播图 */

.tabimg img {
    height: 420px;
    width: 100%;
}

/* app轮播图 */

.apptabimg img {
    height: 140px;
    width: 100%;
}

/* 旅游板块轮播图 */

.tourism_tab img {
    width: 100%;
}

/* 图片墙 */

.project_describle {
    padding: 5px;
}

.v_html img {
    max-width: 780px;
}

/* 产品描述 */

.article_content img {
    max-width: 1160px;
}

/* app产品描述 */

.apparticle_content {
    border: 1px solid rgb(255, 255, 255);
    word-wrap: break-word;
    word-break: break-all;
}

.apparticle_content img {
    max-width: 100%;
}